
@{
    ViewBag.Title = "Doctor Timings";
    Layout = "~/Views/Shared/_DoctorLayout.cshtml";
}

<!-- page content -->
<link rel="stylesheet" href="~/Content/css/bootstrap-datetimepicker.css" />
<div class="right_col" style="min-height: 1779px;">
    <div class="x_panel">

        <div class="x_title">
            <h2>Schedule</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <label class="control-label">Day:</label>
                    <div class="form-group input-group date">
                        <select id="DoctorTiming_day" class="form-control">
                            <option>Monday</option>
                            <option>Tuesday</option>
                            <option>Wednesday</option>
                            <option>Thursday</option>
                            <option>Friday</option>
                            <option>Saturday</option>
                            <option>Sunday</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <label for="time" class="control-label">From Time</label>
                    <div class='input-group date'>
                        <input type='text' class="form-control" id="DoctorTiming_from" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-time"></span>
                        </span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <label for="time" class="control-label">To Time</label>
                    <div class='input-group date' id='div_DoctorTiming_to'>
                        <input type='text' class="form-control" id="DoctorTiming_to" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-time"></span>
                        </span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">

                    <div class="form-group input-group date">
                        <button class="btn btn-primary" onclick="addUpdate();" style="margin-top: 26px;" type="button">Add</button>
                        <button class="btn btn-primary" onclick="reset();" style="margin-top: 26px;" type="button">Reset</button>
                    </div>
                </div>
            </div>

            <div class="x_panel">
                <div class="x_title">


                    <h2>Days</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>

                <div id="divLoader" style="display:none;" class="loader"></div>
                <div class="x_content" style="display: block;" id="divDayWiseTiming">
                </div>

            </div><!-- Days -->
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>


    <script type="text/javascript">
        var _objUpdate = null;
        var _objAdd = null;
        var _doctorId = 0;

        $(document).ready(function () {
            GetTimings();
            $('#DoctorTiming_from').datetimepicker({
                format: 'LT'
            });
            $('#DoctorTiming_to').datetimepicker({
                format: 'LT'
            });

        });




        function ValidateForm() {
            var success = "";

            if ($("#DoctorTiming_from").val().length == 0) {
                success = "Please enter from";
                return success;
            }
            if ($("#DoctorTiming_to").val().length == 0) {
                success = "Please enter to";
                return success;
            }
        }

        var test;

        function GetTimings() {
            $("tbody[id$='timingTable']").html('');
            // $("div[id$='divLoader']").show();
            blockUI();
            var param = "{}";
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetDoctorTimings", "Doctor")',
                data: param,
                dataType: 'json',
                success: function (response) {
                    if (response.isRedirect) {
                        window.location.href = response.redirectUrl;
                    }
                    else {
                        _objUpdate = response.DoctorTiming;
                        _doctorId = response.DoctorId;
                        //bindTimingsTable(response.DoctorTimingsList);
                        bindTimingsDayWise(response.DayWiseTimings);
                        test = response.DayWiseTimings;
                    }

                },
                error: errorRes

            });
            $.unblockUI();
        }

        function errorRes(data) {
            var err = eval("(" + data.responseText + ")");
            alert(err.Message);
        }
        function bindTimingsTable(doctorTimingList) {
            var tableHtml = "";
            for (var i = 0; i < doctorTimingList.length; i++) {
                tableHtml = tableHtml + "<tr>";
                tableHtml = tableHtml + "<td>" + doctorTimingList[i].day + "</td>";
                tableHtml = tableHtml + "<td>" + doctorTimingList[i].from + "</td>";
                tableHtml = tableHtml + "<td>" + doctorTimingList[i].to + "</td>";
                tableHtml = tableHtml + "<td><a href='#'  onclick='editObj(" + JSON.stringify(doctorTimingList[i]) + ",this);'> Edit</a> | <a href='#' onclick='deleteObj(" + doctorTimingList[i].doctorTimingsID + ")'>Delete</a></td>";
                tableHtml = tableHtml + "</tr>";
            }
            //$("div[id$='divLoader']").hide();
            $("tbody[id$='timingTable']").html(tableHtml);
            $.unblockUI();


        }
        
        function bindTimingsDayWise(daywiseList) {
           
            var divHtml = "";

            for (var i = 0; i < daywiseList.length; i++) {
                divHtml = divHtml + "<div class='table-responsive'>";
                divHtml = divHtml + "<h2>" + daywiseList[i].Day + "</h2>";
                divHtml = divHtml + "<table class='table table-striped table-bordered dataTable no-footer'>";
                divHtml = divHtml + "<tbody>";

                if (daywiseList[i].Timings.length > 0) {
                    for (var j = 0; j < daywiseList[i].Timings.length; j++) {
                        divHtml = divHtml + "<tr class='time_btn'>";
                        divHtml = divHtml + "<td class='time-remove'><span>" + converttoLocal(daywiseList[i].Timings[j].from) + " To " + converttoLocal(daywiseList[i].Timings[j].to) + "</span><button class='btn btn-primary pull-right' onclick='deleteObj(" + daywiseList[i].Timings[j].doctorTimingsID + ");' type='button'>Delete</button></td>";
                        divHtml = divHtml + "</tr>";
                    }
                }
                else {
                    divHtml = divHtml + "<p>There is no time Slot available</p>";
                }
                divHtml = divHtml + "</tbody></table><div>";
            }
            $("div[id$='divDayWiseTiming']").html(divHtml);
            $.unblockUI();
            //$("div[id$='divLoader']").hide();

        }


        function editObj(objTiming) {
            $("#DoctorTiming_day").val(objTiming.day);
            $("#DoctorTiming_from").val(objTiming.from);
            $("#DoctorTiming_to").val(objTiming.to);
            $("#DoctorTiming_doctorTimingsID").val(objTiming.doctorTimingsID);
            _objUpdate = objTiming;
        }
        function reset() {
            $("#DoctorTiming_day").prop("selectedIndex", 0);
            $("#DoctorTiming_from").val('');
            $("#DoctorTiming_to").val('');
            $("#DoctorTiming_doctorTimingsID").val('0');
            _objUpdate = null;
        }

        function deleteObj(doctorTimingsID) {
            //alert(day);
        }



        function addUpdate() {
            var msg = ValidateForm();
            if (msg == "" || msg == undefined) {
                fillObj();

                var _data;
                if (_objUpdate == null) {
                    _data = _objAdd;
                }
                else {
                    _data = _objUpdate;
                }
                blockUI();
                //$("div[id$='divLoader']").show();
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("CreateEditTimings", "Doctor")',
                    data: _data,
                    dataType: 'json',
                    success: function (response) {
                        testResp = response;

                        if (response.isRedirect) {
                            window.location.href = response.redirectUrl;
                        }

                        if (response == "overlapped")
                        { alert("Timings can not be overlapped across each other"); $.unblockUI(); }
                        else
                        {
                            reset();
                            GetTimings();
                        }

                        _objUpdate = null;
                    },
                    error: errorRes

                });

            }
            else {
                alert(msg);
            }


        }
        var testResp;
        function deleteObj(doctorTimingsID) {
            var confirmMessage = confirm("Are you sure you want to delete?");
            if (confirmMessage == false)
                return false;
            blockUI();
            // $("div[id$='divLoader']").show();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("DeleteDoctorTiming", "Doctor")',
                data: { 'id': doctorTimingsID },
                dataType: 'json',
                success: function (response) {
                    if (response.isRedirect) {
                        window.location.href = response.redirectUrl;
                    }
                    else {
                        GetTimings();
                    }

                },
                error: errorRes

            });
        }


        function fillObj() {

            if (_objUpdate == null) {
                _objAdd = {};
                _objAdd["doctorID"] = _doctorId;
                _objAdd["doctorTimingsID"] = 0;
                _objAdd["day"] = $("#DoctorTiming_day").val();
                _objAdd["from"] = $("#DoctorTiming_from").val();
                _objAdd["to"] = $("#DoctorTiming_to").val();
            }
            else {
                _objUpdate.doctorTimingsID = parseInt($("#DoctorTiming_doctorTimingsID").val());
                _objUpdate.day = $("#DoctorTiming_day").val();
                _objUpdate.from = $("#DoctorTiming_from").val();
                _objUpdate.to = $("#DoctorTiming_to").val();
            }
        }

        //Center the element
        $.fn.center = function () {
            this.css("position", "absolute");
            this.css("top", ($(window).height() - this.height()) / 2 + $(window).scrollTop() + "px");
            this.css("left", ($(window).width() - this.width()) / 2 + $(window).scrollLeft() + "px");
            return this;
        }
        //blockUI
        function blockUI() {
            $.blockUI({
                css: {
                    backgroundColor: 'transparent',
                    border: 'none'
                },
                message: '<div class="loader"></div>',
                baseZ: 1500,
                overlayCSS: {
                    backgroundColor: '#FFFFFF',
                    opacity: 0.7,
                    cursor: 'wait'
                }
            });
            $('.blockUI.blockMsg').center();
        }//end Blockui


    </script>
}

