@using WebApp.Helper
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_DoctorLayout.cshtml";
}

<style>
    .user-detail {
        max-width: 250px;
        margin: 0 auto;
        color: #375781;
        height: 100px;
    }

    .img-viewdetail {
        float: left;
        border-radius: 50%;
        max-width: 100px;
    }

    .img-1 {
        float: left;
    }

        .img-1 img {
            border-radius: 50%;
            max-width: 100px;
        }

    .name-sec {
        margin-left: 20px;
    }
</style>


<link href="~/Content/css/green.css" rel="stylesheet" />
<script type="text/javascript" src="~/Scripts/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="~/Scripts/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="~/Scripts/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="~/Scripts/dataTables.responsive.min.js"></script>

<!-- page content -->
<div class="right_col" role="main">
    <div class="clearfix"></div>

    <div class="x_panel" style="margin-bottom: 190px;">
        <div class="x_title">
            <h2>Call History</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>

        <div class="x_content">
            <div class="table-responsive" id="divConsultation">
                @{
                    Html.RenderAction("PartialViewDoctorConsultation", "DoctorConsultation");
                }
            </div>
        </div>
    </div>
    <input type="text" style="display:none" id="pvappid" value="0">
    <div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel4">
        <div class="modal-dialog" role="document" style="width: 380px;">
            <div id='myModalContent' class="modal-content" style="border-radius: 0;height:500px;overflow:scroll">
                @{
                    Html.RenderAction("ViewDetail", "DoctorConsultation", new { consultID = 0 });
                }
            </div>
        </div>
    </div><!-- View App Detail -->
   
</div>

<!-- /page content -->

<script>
    var cID = 0;
    function showConsult(consultID) {
        cID = consultID;
        //debugger;
        reloadModelContainer(function () {
            var $modal = $('#myModal4');


        });

    }
    function reloadModelContainer(callback) {
        $("#myModalContent").load('@Url.Action("ViewDetail", "DoctorConsultation")?consultID=' + cID, function () {
            callback();
        });

    }
    </script>

