<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=NAVEED\MSSQLSERVER2016;Initial Catalog=SwiftKareDB;User Id=sa;Password=saadmin;persist security info=False;" providerName="System.Data.SqlClient" />
    <add name="ConnectionString" connectionString="Data Source=NAVEED\MSSQLSERVER2016;Initial Catalog=SwiftKareDB;User Id=sa;Password=saadmin;persist security info=False;" providerName="System.Data.SqlClient" />
    <add name="SwiftKareDBEntities" connectionString="metadata=res://*/SwiftKareDBModel.csdl|res://*/SwiftKareDBModel.ssdl|res://*/SwiftKareDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=NAVEED\MSSQLSERVER2016;initial catalog=SwiftKareDB;user id=sa;password=saadmin;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />


    <!--<add name="DefaultConnection" connectionString="Data Source=localhost;Initial Catalog=SwiftKare;User Id=sk;Password=q1!w2@e3#r4$;persist security info=False;" providerName="System.Data.SqlClient"/>
    <add name="ConnectionString" connectionString="Data Source=localhost;Initial Catalog=SwiftKare;User Id=sk;Password=q1!w2@e3#r4$;persist security info=False;" providerName="System.Data.SqlClient"/>
    <add name="SwiftKareDBEntities" connectionString="metadata=res://*/SwiftKareDBModel.csdl|res://*/SwiftKareDBModel.ssdl|res://*/SwiftKareDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=SwiftKare;user id=sk;password=q1!w2@e3#r4$;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->

  </connectionStrings>
  <appSettings>
    <add key="owin:AutomaticAppStartup" value="true" />
    <add key="ApplyHttpsFilter" value="false" />
    <add key="ApplyIPsAuthorizationFilter" value="false" />
    <add key="IsApiHelpEnabled" value="true" />
    <!--<add key="ConnectionString" value="Data Source=localhost;Initial Catalog=SwiftKareDB;User Id=sa;Password=123456;persist security info=False;" />-->
    <add key="ConnectionString" value="Data Source=NAVEED\MSSQLSERVER2016;Initial Catalog=SwiftKareDB;User Id=sa;Password=saadmin;persist security info=False;" />
    <add key="OauthUserName" value="abc" />
    <add key="OauthPassword" value="ddddddddd" />
    <add key="OauthClientId" value="abc" />
    <add key="OauthClientSecret" value="ddddddddd" />
    <add key="OauthAccessTokenExpireSeconds" value="3600" />

    <add key="TokBoxApiKey" value="45760272" />
    <add key="TokBoxSecretKey" value="fc31ef6faef18ac3b8df3fb9710aab151a78a99d" />
    <add key="certificatePath" value="C:\\pushCert\\SwiftCareDistCertificate.p12"/>
    <add key="certificatePassword" value="123"/>

    <add key="andriodAppId" value="AAAAYwginLM:APA91bGiu_CGGHwkfaQiz7x9auQUzOwJVfITy4isk6FiWeCAtPt2GmJagJdecbH922_z-YcalRgtPpmHIL3WAIh0DUWM4OTH1alhnHhbJlzioGM9eTEuwEoo84yQhnz8R1TnpZDa7wup"/>
    <add key="andriodSenderId" value="425338248371"/>

    <add key="StripePayPublisherKey" value="pk_test_3pJs94Zr9ctReML0Jyzcxlst" />
    <add key="StripePaySecretKey" value="sk_test_3rfO7X7ODbx5WxNj4LtTkbFG" />

    <add key="SendGridUserName" value="swiftkare_sendmail_01" />
    <add key="SendGridPassword" value="Hw34%73Her8&amp;$" />
    <add key="SendGridFromEmailAddress" value="support@swiftkare.com" />
    <add key="SendGridFromName" value="Swift Kare" />

    <add key="RescheduleLimit" value="24" />
    <add key="AlertPartBeforeDateTime" value="Appointment on " />
    <add key="AlertPartBeforeNewDateTime" value="is rescheduled by patient to " />

    <add key="profilePictureURL" value="http://localhost:11262/Pictures/" />
    <add key="profilePictureLocation" value="F:\GitHub\SwiftKare\WebApp\Pictures\" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5" />
    <customErrors mode="Off" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Host.SystemWeb" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />

      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="APISoap" />
      </basicHttpBinding>
      <customBinding>
        <binding name="APISoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://my.staging.dosespot.com/api/11/api.asmx" binding="basicHttpBinding" bindingConfiguration="APISoap" contract="DoseSpotApi.APISoap" name="APISoap" />
      <endpoint address="http://my.staging.dosespot.com/api/11/api.asmx" binding="customBinding" bindingConfiguration="APISoap12" contract="DoseSpotApi.APISoap" name="APISoap12" />
    </client>
  </system.serviceModel>
</configuration>
