@{
    ViewBag.Title = "showReport";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

    <div class="row">
            

             

              <!-- bar charts group -->
             @* <div class="col-md-6 col-sm-6 col-xs-12">
                   <div class="x_title">
                    <h2>Reports</h2>
                  
                    <div class="clearfix"></div>
                  </div>
                <div class="x_panel" style="left: 250px;">
                 
                    
                  <div class="x_content2" >
                    <div id="graphx" style="width:100%; height:300px;"></div>
                  </div>
                </div>
              </div>*@
              <!-- /bar charts group --> 

            </div>
<script src="~/Scripts/charts/raphael.min.js"></script>
<script src="~/Scripts/charts/morris.min.js"></script>
<script>
    $(document).ready(function () {
        //Morris.Bar({
        //    element: 'graphx',
        //    data: [
        //      { x: '2015 Q1', y: 2, z: 3, a: 4 },
        //      { x: '2015 Q2', y: 3, z: 5, a: 6 },
        //      { x: '2015 Q3', y: 4, z: 3, a: 2 },
        //      { x: '2015 Q4', y: 2, z: 4, a: 5 }
        //    ],
        //    xkey: 'x',
        //    ykeys: ['y', 'z', 'a'],
        //    barColors: ['#26B99A', '#34495E', '#ACADAC', '#3498DB'],
        //    hideHover: 'auto',
        //    labels: ['Y', 'Z', 'A'],
        //    resize: true
        //}).on('click', function (i, row) {
        //    console.log(i, row);
        //});
    });
</script>