
@{
    ViewBag.Title = "Confirm Your Email";
}

<h2>Email Confirmation</h2>
<div>
    <p>
        Please 
        <a href="@ViewBag.Link">Click Here</a> to confirm your email.
    </p>
</div>

