@{
    ViewBag.Title = "Reset Password Confirmation";
    Layout = "~/Views/Shared/_AccountsLayout.cshtml";
}
<div class="login_wrapper">

    <div>
        <p>
            Please check your email to reset your password.
        </p>
    </div>


</div>





