@model Identity.Membership.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
    Layout = "~/Views/Shared/_AccountsLayout.cshtml";
}


    <a class="hiddenanchor" id="signup"></a>
    <a class="hiddenanchor" id="signin"></a>
    <div class="login_wrapper">
        <div class="animate form login_form">
            <section class="login_content">
                <img src="~/Content/images/Logos.png" />

                @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <h1>Forget Password</h1>
                    <hr />
                    
                    <div>
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email Address" })
                    </div>
                    <div>
                        <input type="submit" class="btn btn-primary submit" value="Get New Password" />
                    </div>
                    <br />
                    <div class="clearfix"></div>
                    <div>
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                    </div>
                }

            </section>
        </div>

    </div>




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
