.profile_image{
margin-top:10px;
margin-bottom:10px;
width:100%;
border-radius: 50%;
}
.bk-clr-blue{
background-color:#3699dd;
}

.m-t-30{
margin-top: 30px;}
.f-w{
color:#fff !important;
}
.align-dot{
color:#04c32f;
}